<!doctype html>
<html lang="en">

<head type="text/css" media="print">
  <meta charset="utf-8">
  <title>First test project - APSI</title>
  <meta name="description" content="Revolutionary task managment system.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.min.css') }}">
  <meta name="theme-color" content="#fff">
</head>
<body>
    <div class="page {{u.role}}-{{current_view}}-page">

        <div class="content-wrapper">
            <div class="container">

                <h2>Zestawienie czynności wykonanych w ramach projektu</h2>
                <h2>Projekt: {{project.name}}</h2>

                {% for task in project.projects_tasks %}
                  <h3>Dla zadania: {{task.description}}</h3>
                  {% for activity in task.associated_activities %}
                    {% if activity.supervisor_approved == True %}
                      {% if activity.client_approved == None or activity.client_approved == True %}
                        <p>Czynność: {{activity.description}}</p>
                        <p>Czas trwania: {{activity.time}} {{activity.time.hours}}</p>
                        <p>Zarejestrował {{activity.done_by.name}} {{activity.done_by.surname}} w dniu {{activity.date}}</p>
                      {% endif%}
                    {% endif%}
                  {% endfor%}
                {% endfor%}

                <a class="btn btn-primary" title="Wydrukuj" href="#" onclick="window.print();return false;"><i class="fa-solid fa-print"></i>Wydrukuj</a>

            </div>
        </div>
    </div>
</body>
</html>
