<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>First test project - APSI</title>
  <meta name="description" content="Revolutionary task managment system.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.min.css') }}">
  <meta name="theme-color" content="#fff">
</head>
<body>
    <div class="page {{u.role}}-{{current_view}}-page">

        <div class="content-wrapper">
            <div class="container">

                <h2>Faktura VAT</h2>
                <h2>Projekt: {{project.name}}</h2>

                {% for task in project.projects_tasks %}
                  <h3>{{task.description}}</h3>
                  {% for activity in task.associated_activities %}
                    <p>{{activity.description}} {{activity.time}} {{activity.done_by.name}} {{activity.done_by.surname}}</p>
                  {% endfor%}
                {% endfor%}

            </div>
        </div>
    </div>
</body>
</html>
