<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>First test project - APSI</title>
  <meta name="description" content="Revolutionary task managment system.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.min.css') }}">
  <meta name="theme-color" content="#fff">
</head>
<body>
    <div class="page {{u.role}}-{{current_view}}-page">
        {% include 'common/navbar.html' %}

        <div class="content-wrapper">
            <div class="container">
                <h1>{{project.name}}</h1>

                <p class="project-descirption">{{project.description}}</p>

                <div class="row">
                    <div class="col-9">
                      {% if u.role == 'kierownik' or (u.role == 'klient' and u.id == project.client) %}
                      <p class="content-title">Zadania
                        <a class="btn btn-warning" title="Dodaj zadanie" href="/projects/{{project.id}}/task/add"><i class="fa-solid fa-plus"></i> Dodaj zadanie</a>
                        <a class="btn btn-info" title="Wydrukuj fakturę" href="/projects/{{project.id}}/invoice" target="_blank"><i class="fa-solid fa-receipt"></i> Wydrukuj fakturę</a>
                        <!-- TODO: Delete confirmation pop-up -->
                        {% if u.role == 'kierownik' %}
                          <a class="btn btn-danger" title="Usuń projekt" href="/projects/{{project.id}}/delete"><i class="fa-solid fa-trash"></i> Usuń projekt</a>
                        {% endif %}
                      </p>
                      {% endif %}
                      <div class="accordion" id="epic-list">
                        {% for task in project.projects_tasks %}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-{{task.id}}">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{task.id}}" aria-expanded="true" aria-controls="collapse-{{task.id}}">
                                <span class="key">#{{task.id}}</span> {{task.name}}
                              </button>
                            </h2>

                            <div id="collapse-{{task.id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{task.id}}">
                              <div class="accordion-body">
                                <p>{{task.description}}</p>
                                <div class="task-list">
                                  {% if task.associated_activities|length == 0 %}
                                    <p>Brak czynności</p>
                                  {% endif %}

                                  {% for activity in task.associated_activities %}
                                    <div class="task-one">
                                        <div class="row">
                                            <div class="col-11">
                                              <p class="name"><span class="key">{{activity.date}}</span></p>
                                              {% if project.client != None %}
                                                {% if activity.client_approved == None %}
                                                  <p class="status"><span class="todo">Oczekuje na akceptację (Klient)</span></p>
                                                {% elif activity.client_approved == True %}
                                                  <p class="status"><span class="done">Zaakceptowane (Klient)</span></p>
                                                {% else %}
                                                  <p class="status"><span class="pending">Odrzucone (Klient)</span></p>
                                                {% endif %}
                                              {% endif %}

                                              {% if activity.supervisor_approved == None %}
                                                <p class="status"><span class="todo">Oczekuje na akceptację (Kierownik)</span></p>
                                              {% elif activity.supervisor_approved == True %}
                                                <p class="status"><span class="done">Zaakceptowane (Kierownik)</span></p>
                                              {% else %}
                                                <p class="status"><span class="pending">Odrzucone (Kierownik)</span></p>
                                              {% endif %}
                                            </div>
                                            <div class="col">
                                                <div class="btn-group options">
                                                  <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                                  </button>
                                                  <ul class="dropdown-menu">
                                                    {% if activity.supervisor_approved == False or (activity.supervisor_approved == None and activity.client_approved == None) or activity.client_approved == False %}
                                                      {% if activity.done_by.id == u.id %}
                                                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-{{activity.id}}"><i class="fa-solid fa-eye"></i> Edytuj aktywność</a></li>
                                                      <li><hr class="dropdown-divider"></li>
                                                      {% endif %}
                                                    {% endif %}
                                                    {% if u.role == 'kierownik' %}
                                                      <li><a class="dropdown-item dropdown-status pending" href="/projects/{{project.id}}/{{task.id}}/{{activity.id}}/accept_supervisor/0">Odrzuć</a></li>
                                                      <li><a class="dropdown-item dropdown-status done" href="/projects/{{project.id}}/{{task.id}}/{{activity.id}}/accept_supervisor/1">Zaakceptuj</a></li>
                                                      <li><hr class="dropdown-divider"></li>
                                                    {% elif u.role == 'klient' %}
                                                      <li><a class="dropdown-item dropdown-status pending" href="/projects/{{project.id}}/{{task.id}}/{{activity.id}}/accept_client/0">Odrzuć</a></li>
                                                      <li><a class="dropdown-item dropdown-status done" href="/projects/{{project.id}}/{{task.id}}/{{activity.id}}/accept_client/1">Zaakceptuj</a></li>
                                                      <li><hr class="dropdown-divider"></li>
                                                    {% endif %}
                                                    {% if activity.done_by.id == u.id %}
                                                      <li><a class="dropdown-item delete-task" href="/projects/{{project.id}}/{{task.id}}/{{activity.id}}/delete"><i class="fa-solid fa-trash-can"></i> Usuń aktywność</a></li>
                                                    {% endif %}
                                                  </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="task-description">
                                          <span><i class="fa-solid fa-comment"></i> Opis</span>
                                          {{activity.description}}
                                        </p>
                                        <p class="task-time">
                                          <span><i class="fa-solid fa-clock"></i> {{activity.time}}</span>
                                        </p>
                                        <ul class="member-list">
                                          <li data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{activity.done_by.name}} {{activity.done_by.surname}}">{{activity.done_by.name|first}}{{activity.done_by.surname|first}}</li>
                                        </ul>

                                        <div class="modal fade" id="modal-{{activity.id}}" tabindex="-1" aria-labelledby="modal-{{activity.id}}-label" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="modal-{{activity.id}}-label">{{activity.name}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                <p>{{activity.description}}</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    {% endfor %}
                                  </div>
                                  {% if u.role == 'pracownik' %}
                                  <a href="/activities/add/{{task.id}}" title="Dodaj czynność" class="add-task"><i class="fa-solid fa-plus"></i> Dodaj czynność</a>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                    <div class="col-3">
                        <p class="content-title">
                            Przypisani pracownicy
                        </p>

                        <!-- Obsluga przypisania pracownikow -->
                        {% if u.role == 'kierownik' %}
                          <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ form.employee.label(class="form-label") }}
                                {{ form.employee(class="form-control") }}
                            </div>
                            {{ form.submit(class="btn btn-primary") }}
                          </form>
                        {% endif %}
                        <!-- End Obsluga przypisania pracownikow -->


                        <!-- Lista pracowników -->
                        <ul class="member-list">
                          {% for worker in project.workers %}
                            <li data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{worker.assigned_person.name}} {{worker.assigned_person.surname}}">{{worker.assigned_person.name|first}}{{worker.assigned_person.surname|first}}</li>
                          {% endfor %}
                        </ul>
                        {% if project.workers|length == 0 %}
                          <p>Brak przypisanych pracowników</p>
                        {% endif %}
                        <!-- End Lista pracowników -->



                        {% if project.client != None %}
                          <p class="content-title">
                              Zlecający
                          </p>

                          <!-- Klient -->
                          <ul class="member-list">
                            <li data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{project.project_commissioner.name}} {{project.project_commissioner.surname}}">{{project.project_commissioner.name|first}}{{project.project_commissioner.surname|first}}</li>
                          </ul>
                          <!-- End Klient -->
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>

    {% include 'common/footer.html' %}
</body>
</html>
