<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lista aktywności - APSI</title>
    <meta name="description" content="Revolutionary task managment system.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.min.css') }}">
    <meta name="theme-color" content="#fff">
</head>
<body>
<div class="page {{u.role}}-{{current_view}}-page">
    {% include 'common/navbar.html' %}

    <div class="content-wrapper">
      <div class="container">
        <h1>Czynności
          {% if u.role == 'pracownik' %}
            <a class="btn btn-primary" title="New activity" href="/activities/add"><i class="fa-solid fa-plus"></i>Nowa czynność</a>
          {% endif %}
        </h1>

        <!--TODO wyświetlanie czynności-->
        Do obróbki na froncie
        {% for activity in activities %}
          Czynność:
          {{activity.description}}
          {{activity.time}}
          {{activity.date}}

          {% if activity.associated_task.associated_project.client != None %}
            {% if activity.client_approved == None %}
              <p class="status"><span class="todo">Oczekuje na akceptację (Klient)</span></p>
            {% elif activity.client_approved == True %}
              <p class="status"><span class="done">Zaakceptowane (Klient)</span></p>
            {% else %}
              <p class="status"><span class="pending">Odrzucone (Klient)</span></p>
            {% endif %}
          {% endif %}

          {% if activity.supervisor_approved == None %}
            <p class="status"><span class="todo">Oczekuje na akceptację (Kierownik)</span></p>
          {% elif activity.supervisor_approved == True %}
            <p class="status"><span class="done">Zaakceptowane (Kierownik)</span></p>
          {% else %}
            <p class="status"><span class="pending">Odrzucone (Kierownik)</span></p>
          {% endif %}


          {{activity.done_by.name}}
          {{activity.done_by.surname}}
        {% endfor %}

        </div>
    </div>
</div>

{% include 'common/footer.html' %}
</body>
</html>
