<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My projects - APSI</title>
  <meta name="description" content="REvolutionary task managment system.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/css/style.min.css">
  <meta name="theme-color" content="#fff">
</head>
<body>
    <div class="page admin-project-list-page">
        <div class="top-navbar">
            <div class="row">
                <div class="col">
                    <div class="logo-icon">
                        <p class="icon">A</p>
                    </div>
                </div>
                <div class="col">
                    <ul class="menu">
                        <li><a class="active" href="/e/projects">Projects</a></li>
                        <li><a href="/e/taskboard">Tasks board</a></li>
                    </ul>
                </div>
                <div class="col">
                    <div class="dropdown dropdown-user-info">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="userInfoMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="icon">S</span> Sebastian Miecielica
                      </a>

                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userInfoMenu">
                        <li><a class="dropdown-item" href="/logout">Log out</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="container">
                <h1>My projects</h1>

                <div class="project-list">
                    <div class="project-one">
                        <a class="view-project" href="/e/projects/p" title="Project details">Project details</a>
                        <div class="row">
                            <div class="col">
                                <p class="key">#1234</p>
                                <p class="name">First test project</p>
                            </div>
                            <div class="col">
                                <p class="title">My epics</p>
                                <p class="counter epic"><i class="fa-solid fa-circle icon-epic"></i> 50/200</p>
                            </div>
                            <div class="col">
                                <p class="title ">My tasksr</p>
                                <p class="counter task"><i class="fa-solid fa-diamond icon-task"></i> 50/200</p>
                            </div>
                            <div class="col">
                                <p class="title">Project progress</p>
                                <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../static/js/lib/bootstrap.bundle.min.js"></script>
</body>
</html>
