<div class="top-navbar">
	<div class="row">
		<div class="col">
			<div class="logo-icon">
				<p class="icon">A</p>
			</div>
		</div>
		<div class="col">
			<ul class="menu">
				<li><a {% if 'projects' in current_view %}class="active"{% endif %} href="/projects">Projects</a></li>
				<li><a {% if 'taskboard' in current_view %}class="active"{% endif %} href="/taskboard">Taskboard</a></li>
				{% if u.role == 'administrator' %}<li><a {% if 'employees' in current_view %}class="active"{% endif %} href="/employees">Employees</a></li>{% endif %}
			</ul>
		</div>
		<div class="col">
			<div class="dropdown dropdown-user-info">
			  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="userInfoMenu" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="icon">{{u.name|first}}</span> {{u.name}} {{u.surname}}
			  </a>

			  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userInfoMenu">
				<li><a class="dropdown-item" href="/logout">Log out</a></li>
			  </ul>
			</div>
		</div>
	</div>
</div>
