<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lista projektów - APSI</title>
    <meta name="description" content="Revolutionary task managment system.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/style.min.css">
    <meta name="theme-color" content="#fff">
</head>
<body>
<div class="page {{u.role}}-{{current_view}}-page">
    {% include 'common/navbar.html' %}

    <div class="content-wrapper">
        <div class="container">
            <h1>Projekty {% if u.role == 'kierownik' %} <a class="btn btn-primary" title="New project" href="/projects/add"><i
                    class="fa-solid fa-plus"></i>Nowy projekt</a>{% endif %}</h1>

            <div class="project-list">
                {% for project in projects %}
                <div class="project-one">
                    <a class="view-project" href="/projects/{{project.id}}" title="Project details">Szczegóły projektu</a>
                    <div class="row">
                        <div class="col">
                            <p class="name">{{project.name}}</p>
                        </div>
                        <div class="col">
                            <p class="name">{{project.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include 'common/footer.html' %}
</body>
</html>
