#epic-list{
    border-radius: 5px;
    box-shadow: 0 1px 25px -10px #ddd;

    .accordion-item{

        .accordion-button{
            box-shadow: none;
            color: #333;
            font-weight: 600;
            background-color: #f6f8ff;

            &.collapsed{
                background-color: transparent;
            }

            .key{
                color: #fff;
                margin: 1px 15px 0 0;
                background-color: #fed330;
                padding: 3px 12px;
                border-radius: 5px;
                font-size: 12px;
                float: left;
            }
        }

        .accordion-collapse{
            background-color: #f6f8ff;

            .accordion-body{
                padding: 20px;

                .task-list{
                    background-color: #fff;
                    border-radius: 0;
                    border: 1px solid #eee;

                    .empty-list{
                      text-align: center;
                      padding: 30px;
                      margin: 0;
                    }

                    .task-own{
                        background-color: #f0fff0;
                    }

                    .task-one{
                        border-bottom: 1px solid #f8f9ff;

                        &:last-child{
                            border-bottom: 0;
                        }

                        .user{
                          display: inline-block;
                          padding: 15px 7.5px 15px 15px;
                          margin: 0;

                          span{
                            background: #0984e3;
                            background: linear-gradient(45deg, #0984e3 41%, #74b9ff 75%);
                            color: #fff;
                            border-radius: 6px;
                            text-align: center;
                            line-height: 21px;
                            font-weight: 900;
                            margin: 0;
                            font-size: 12px;
                            padding: 0 15px;
                            height: 21px;
                            display: block;
                          }
                        }

                        .name{
                            padding: 15px;
                            font-weight: 600;
                            margin: 0;
                            display: inline-block;

                            .key{
                                color: #fff;
                                margin: 1px 5px 0 0;
                                background-color: #a55eea;
                                padding: 3px 12px;
                                border-radius: 5px;
                                font-size: 12px;
                            }
                        }

                        .status{
                            padding: 15px 7.5px;
                            margin: 0;
                            display: inline-block;

                            span{
                                padding: 3px 12px;
                                border-radius: 5px;
                                font-weight: 900;
                                text-transform: uppercase;
                                font-size: 12px;

                                &.todo{
                                    color: #42526E;
                                    background-color: #DFE1E6;
                                }

                                &.rejected{
                                  background-color: #f5e6e3;
                                  color: #e17055;
                                }

                                &.done{
                                    color: #006644;
                                    background-color: #E3FCEF;
                                }
                            }
                        }

                        .options{
                            padding: 15px;
                        }
                    }
                }

                .task-description, .task-time{
                  padding: 0 15px 15px 15px;
                  margin: 0;
                  font-size: 14px;

                  span{
                    display: block;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 12px;
                    margin: 0 0 3px 0;
                  }
                }

                .add-task{
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-weight: 800;
                    padding: 6px 5px;
                    text-decoration: none;
                    background-color: #dce7ff;
                    color: #4b7bec;
                    text-transform: uppercase;
                    font-size: 12px;

                    &:hover{
                        background-color: #4b7bec;
                        color: #fff;
                    }

                    i{
                        margin: 0 3px 0 0;
                    }
                }
            }
        }
    }
}
