.task-board{
    .col-wrapper{
        border-radius: 5px;
        padding: 15px;

        &.todo{
            background-color: #DFE1E6;

            .col-title{
                color: #42526E;
            }
        }

        &.rejected{
            background-color: #f5e6e3;

            .col-title{
                color: #e17055;
            }
        }

        &.done{
            background-color: #E3FCEF;

            .col-title{
                color: #006644;
            }
        }

        &.pending{
            background-color: #d4dffb;

            .col-title{
                color: #657187;
            }
        }

        .col-title{
            text-transform: uppercase;
            font-weight: 600;
            line-height: 29px;
            font-size: 16px;
            margin: 0 0 15px 0;
        }

        .task-boxes{
            height: 500px;
            position: relative;

            .task-box{
                background-color: #fff;
                border-radius: 5px;
                padding: 15px;
                position: relative;
                margin: 0 0 10px 0;
                box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.15);

                .task-author{
                  color: #333;
                  border-radius: 6px;
                  font-weight: 900;
                  margin: 0 0 10px 0;
                  font-size: 14px;
                  display: block;
                  text-align: left;
                }

                .status{
                  margin: 0 0 5px 0;

                  span{
                    padding: 3px 12px;
                    border-radius: 5px;
                    font-weight: 900;
                    text-transform: uppercase;
                    font-size: 12px;
                    width: 100%;
                    display: block;
                    text-align: center;

                    &.todo{
                      background-color: #DFE1E6;
                      color: #42526E;
                    }

                    &.rejected{
                      background-color: #f5e6e3;
                      color: #e17055;
                    }

                    &.done{
                      color: #006644;
                      background-color: #E3FCEF;
                    }
                  }
                }

                .task-description{
                  font-size: 16px;
                  margin: 12px 0 10px 0;
                  padding: 0 0 10px 0;
                  border-bottom: 1px solid #eee;
                }

                .task-details{
                  margin: 0;
                  font-size: 14px;
                  font-weight: 600;

                  .fa-clock{
                    margin-left: 5px;
                  }
                }
            }
        }
    }
}
