<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Add task - APSI</title>
  <meta name="description" content="Revolutionary task managment system.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/css/style.min.css">
  <meta name="theme-color" content="#fff">
</head>
<body>
    <div class="page {{u.role}}-{{current_view}}-page">
        {% include 'common/navbar.html' %}

        <div class="content-wrapper">
            <div class="container">
                <h1>Add task</h1>

                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="external_id" class="form-label">External id</label>
                        <input type="text" class="form-control" id="external_id">
                        <div class="form-text">An identificator of task in external problem module.</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" class="form-control" id="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="members" class="form-label">Members</label>
                        <select class="form-select" name="members" multiple aria-label="multiple select example">
                          <option value="1">Jan Kowlaski</option>
                          <option value="2">Sebastian Miecielica</option>
                          <option value="3">Łukasz Kabat</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="members" class="form-label">Status</label>
                        <select class="form-select" aria-label="Task status">
                          <option value="TODO" selected>To do</option>
                          <option value="IN_PROGRESS">In progress</option>
                          <option value="PENDING">Pending</option>
                          <option value="DONE">Done</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Create task</button>
                </form>
            </div>
        </div>
    </div>

    {% include 'common/footer.html' %}
</body>
</html>
