<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Employees - APSI</title>
  <meta name="description" content="Revolutionary task managment system.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/css/style.min.css">
  <meta name="theme-color" content="#fff">
</head>
<body>
    <div class="page {{u.role}}-{{current_view}}-page">
        {% include 'common/navbar.html' %}

        <div class="content-wrapper">
            <div class="container">
                <h1>Employees</h1>

                <div class="employees-list">
                    <div class="employee-one">
                        <div class="row">
                            <div class="col">
                                <span class="icon">S</span>
                                <p class="key">#1234</p>
                                <p class="name">Sebastian Miecielica</p>
                            </div>
                            <div class="col">
                                <p class="title ">Task counter</p>
                                <p class="counter task"><i class="fa-solid fa-diamond icon-task"></i> 50/200</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'common/footer.html' %}
</body>
</html>
