<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Employees - APSI</title>
  <meta name="description" content="Revolutionary task managment system.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.min.css') }}">
  <meta name="theme-color" content="#fff">
</head>
<body>
    <div class="page {{u.role}}-{{current_view}}-page">
        {% include 'common/navbar.html' %}

        <div class="content-wrapper">
            <div class="container">
                <h1>Pracownicy</h1>
                <div class="employees-list">
                    {% for employee in employees %}
                    <div class="employee-one">
                        <div class="row">
                            <div class="col">
                                <span class="icon">{{employee.name[0]}}{{employee.surname[0]}}</span>
                                <p class="key">#{{employee.login}}</p>
                                <p class="name">{{employee.name}} {{employee.surname}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'common/footer.html' %}
</body>
</html>
