<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Add task - APSI</title>
    <meta name="description" content="Revolutionary task managment system.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <meta name="theme-color" content="#fff">
</head>
<body>
<div class="page admin-task-add-page">
    {% include 'common/navbar.html' %}

    <div class="content-wrapper">
        <div class="container">
            <h1>Dodaj zadanie</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}
                    {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>

{% include 'common/footer.html' %}
</body>
</html>