<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zaloguj się - APSI Projekt</title>
  <meta name="description" content="Revolutionary task managment system.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/css/style.min.css">
  <meta name="theme-color" content="#fff">
</head>
<body>
    <div class="page login-page">
        <div class="container">
            <div class="logo">
                <p class="icon">A</p>
                <p class="name">APSI</p>
                <p class="description">Projekt</p>
            </div>

            <div class="login-form-wrapper">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <h1>Zaloguj się</h1>
                    {% if error_message != '' %}
                    <div class="alert alert-danger" role="alert">
                        {{error_message}}
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        {{ form.login.label(class="form-label") }}
                        {{ form.login(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>

                    {{ form.submit(class="btn btn-primary") }}
                    <p class="helper">Nie masz jeszcze konta? <a href="/register" title="Zarejestruj się">Zarejestruj się</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
