<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sign up - APSI - Task managment system</title>
  <meta name="description" content="Revolutionary task managment system.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/css/style.min.css">
  <meta name="theme-color" content="#fff">
</head>
<body>
    <div class="page signup-page">
        <div class="container">
            <div class="logo">
                <p class="icon">A</p>
                <p class="name">APSI</p>
                <p class="description">Task managment system</p>
            </div>

            <div class="signup-form-wrapper">
                {% if form.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <h1>Sign up</h1>
                    <div class="mb-3">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.surname.label(class="form-label") }}
                        {{ form.surname(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.login.label(class="form-label") }}
                        {% if form.login.errors %}
                            {{ form.login(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.login.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.login(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.confirm_password.label(class="form-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.role.label(class="form-label") }}
                        {{ form.role(class="form-control") }}
                    </div>

                    {{ form.submit(class="btn btn-primary") }}
                    <p class="helper">Have already an account? <a href="/login" title="Log in">Log in</a></p>
                </form>
            </div>

			<div class="system-pros">
				<div class="row">
					<div class="col">
						<div class="pros-one">
							<i class="fa-solid fa-list-check"></i>
							<p class="title">Task managment</p>
							<p class="description">Simplify task workflow in your projects</p>
						</div>
					</div>
					<div class="col">
						<div class="pros-one">
							<i class="fa-solid fa-person-chalkboard"></i>
							<p class="title">Kanban board</p>
							<p class="description">Allow employees to access all of their tasks in an easy, time-saving method</p>
						</div>
					</div>
					<div class="col">
						<div class="pros-one">
							<i class="fa-solid fa-people-group"></i>
							<p class="title">Employee management</p>
							<p class="description">View and manage employees, monitor their progress</p>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</body>
</html>
